body {
    background-color: #F5F5DC;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

h1, h2 {
    user-select: none; /* Prevents text selection */
}

.heart {
    position: absolute;
    font-size: 69px;
    animation: pop 1s ease-out forwards;
    user-select: none; /* Prevents heart emoji from being copied */
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
